<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rubbish Generator</title>

  <!-- include bootstrap stylesheets -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  <!-- include fontawesome stylesheets -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- include google fonts stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body class="bg-light">

  <!-- navigation -->
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">幹話產生器</a>
  </nav>

  <main>
    {{{ body }}}
  </main>

  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>